pre, code { line-height: 1.2; font-family: inherit; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 20px; }
.pdoc-code .c { color: var(--muted) } /* Comment */
.pdoc-code .err { color: red } /* Error */
.pdoc-code .esc { color: black } /* Escape */
.pdoc-code .g { color: black } /* Generic */
.pdoc-code .k { color: var(--accent2); font-weight: bold; } /* Keyword */
.pdoc-code .l { color: var(--accent2) } /* Literal */
.pdoc-code .n { color: black; font-style: italic; } /* Name */
.pdoc-code .o { color: var(--accent2) } /* Operator */
.pdoc-code .x { color: black } /* Other */
.pdoc-code .p { color: black } /* Punctuation */
.pdoc-code .ch { color: var(--muted) } /* Comment.Hashbang */
.pdoc-code .cm { color: var(--muted) } /* Comment.Multiline */
.pdoc-code .cp { color: var(--muted) } /* Comment.Preproc */
.pdoc-code .cpf { color: var(--muted) } /* Comment.PreprocFile */
.pdoc-code .c1 { color: var(--muted) } /* Comment.Single */
.pdoc-code .cs { color: var(--muted) } /* Comment.Special */
.pdoc-code .kc { color: var(--accent2); font-weight: bold; } /* Keyword.Constant */
.pdoc-code .kd { color: var(--accent2); font-weight: bold; } /* Keyword.Declaration */
.pdoc-code .kn { color: var(--accent2); font-weight: bold; } /* Keyword.Namespace */
.pdoc-code .kp { color: var(--accent2); font-weight: bold; } /* Keyword.Pseudo */
.pdoc-code .kr { color: var(--accent2); font-weight: bold; } /* Keyword.Reserved */
.pdoc-code .kt { color: var(--accent2); font-weight: bold; } /* Keyword.Type */
.pdoc-code .ld { color: var(--accent2) } /* Literal.Date */
.pdoc-code .m { color: var(--accent2) } /* Literal.Number */
.pdoc-code .s { color: var(--accent2) } /* Literal.String */
.pdoc-code .na { color: var(--accent2); font-style: italic; } /* Name.Attribute */
.pdoc-code .nb { color: black } /* Name.Builtin */
.pdoc-code .nc { color: var(--accent2); font-style: italic; } /* Name.Class */
.pdoc-code .no { color: black; font-style: italic; } /* Name.Constant */
.pdoc-code .nd { color: var(--accent2); font-style: italic; } /* Name.Decorator */
.pdoc-code .ni { color: black } /* Name.Entity */
.pdoc-code .ne { color: var(--accent2); font-style: italic; } /* Name.Exception */
.pdoc-code .nf { color: var(--accent2); font-style: italic; } /* Name.Function */
.pdoc-code .nl { color: black } /* Name.Label */
.pdoc-code .nn { color: black } /* Name.Namespace */
.pdoc-code .nx { color: var(--accent2); font-style: italic; } /* Name.Other */
.pdoc-code .py { color: black } /* Name.Property */
.pdoc-code .nt { color: var(--accent2); font-style: italic; } /* Name.Tag */
.pdoc-code .nv { color: black } /* Name.Variable */
.pdoc-code .ow { color: var(--accent2); font-weight: bold; } /* Operator.Word */
.pdoc-code .w { color: black } /* Text.Whitespace */
.pdoc-code .mb { color: var(--accent2) } /* Literal.Number.Bin */
.pdoc-code .mf { color: var(--accent2) } /* Literal.Number.Float */
.pdoc-code .mh { color: var(--accent2) } /* Literal.Number.Hex */
.pdoc-code .mi { color: var(--accent2) } /* Literal.Number.Integer */
.pdoc-code .mo { color: var(--accent2) } /* Literal.Number.Oct */
.pdoc-code .sa { color: var(--accent2) } /* Literal.String.Affix */
.pdoc-code .sb { color: var(--accent2) } /* Literal.String.Backtick */
.pdoc-code .sc { color: var(--accent2) } /* Literal.String.Char */
.pdoc-code .dl { color: var(--accent2) } /* Literal.String.Delimiter */
.pdoc-code .sd { color: var(--accent2) } /* Literal.String.Doc */
.pdoc-code .s2 { color: var(--accent2) } /* Literal.String.Double */
.pdoc-code .se { color: var(--accent2) } /* Literal.String.Escape */
.pdoc-code .sh { color: var(--accent2) } /* Literal.String.Heredoc */
.pdoc-code .si { color: var(--accent2) } /* Literal.String.Interpol */
.pdoc-code .sx { color: var(--accent2) } /* Literal.String.Other */
.pdoc-code .sr { color: var(--accent2) } /* Literal.String.Regex */
.pdoc-code .s1 { color: var(--accent2) } /* Literal.String.Single */
.pdoc-code .ss { color: var(--accent2) } /* Literal.String.Symbol */
.pdoc-code .bp { color: black } /* Name.Builtin.Pseudo */
.pdoc-code .fm { color: black } /* Name.Function.Magic */
.pdoc-code .vc { color: black } /* Name.Variable.Class */
.pdoc-code .vg { color: black } /* Name.Variable.Global */
.pdoc-code .vi { color: black } /* Name.Variable.Instance */
.pdoc-code .vm { color: black } /* Name.Variable.Magic */
