:root {
  --pdoc-background: #fff3e0;
}

body{
  font-family: "Courier New", serif;
}

.pdoc {
  --text: black;
  --muted: #b53d0080;
  --link: #b53d00;
  --link-hover: #b53d00;
  --code: transparent;
  --active: #ffcc8080;

  --accent: #ffcc80;
  --accent2: #b53d00;

  --nav-hover: #fff3e080;
  --name: #b53d00;
  --annotation: #b53d00;
}

.pdoc .def,.pdoc .decorator {
  color: inherit;
  font-weight: normal;
  font-style: italic;
}

p {
  white-space: pre-wrap;
}

#navtoggle{
  z-index: 1;
}
