# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
_site/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ruff stuff:
.ruff_cache/

# makedocs.py产生的缓存
/cache

# 自定义插件
/pykinezumiko/plugins/_*
/pykinezumiko/plugins/*_
/pykinezumiko/plugins/*_.py
!/pykinezumiko/plugins/_*_
!/pykinezumiko/plugins/_*_.py

# 插件运行时产生的数据
/data_
